@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

html,
body {
  font-family: "Open Sans", var(--bs-body-font-family), sans-serif;
}

.page-section {
  min-height: calc(100vh - 72px);
}

.offcanvas-body .nav-link {
  padding-right: 0em;
  transition: 150ms;
}
.offcanvas-body .nav-link:hover {
  padding-right: 1em;
  transition: 150ms;
}
